body {
  font-family: "Poppins", sans-serif;
  color: #1f1f1f;
}

@keyframes gradient-animation {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

#title {
  /* background-color: #ff4c68; */
  /* background-size: 180% 180%;
  animation: gradient-animation 18s ease infinite; */

  background-color: #4158d0;
  background-image: linear-gradient(
    43deg,
    #4158d0 0%,
    #c850c0 46%,
    #ffcc70 100%
  );

  color: #fff;
}
h1 {
  font-family: "Poppins", sans-serif;
  line-height: 1.5;
  font-size: 3.5rem;
  font-weight: bolder;
  color: #fff;
}
h2 {
  font-family: "Poppins", sans-serif;
  font-size: 2rem;
  font-weight: bold;
  line-height: 1.5;
  color: #1f1f1f;
}
h3 {
  font-family: "Poppins", sans-serif;
  color: #1f1f1f;
  font-weight: bolder;
}
.icon {
  color: #ef8172;
  margin-bottom: 5%;
}
.icon :hover {
  color: #ff4c68;
}
.container-fluid {
  padding: 3% 15% 7%;
}

/* Navigation Bar */
.navbar {
  padding: 0 0 4.5rem;
}
.navbar-brand {
  font-family: Ubuntu;
  font-weight: bold;
  font-size: 2.5rem;
}
.nav-item {
  padding: 0 18px;
}
.nav-link {
  font-size: 1.2rem;
  font-family: "Poppins";
  font-weight: bold;
}

/* Download buttons */
.download-button {
  margin: 5% 3% 5% 0;
}
.download-button:hover{
  background-color: #6e707e;
}

/* iphone image */
.iphone-img {
  width: 60%;
  position: absolute;
  right: 30%;
}
.rotate-25 {
  transform: rotate(25deg);
}

/* features */
#features {
  padding: 7% 15%;
  text-align: center;
  line-height: 1.5;
  background-color: #fff;
  z-index: 1;
  position: relative;
}
.feature-box {
  padding: 5%;
}

/* testimonials */
#testimonials {
  text-align: center;
  background-color: #BEADFA;
  color: #fff;
}
.carousel-item {
  padding: 7% 15%;
}
.testimonial-img {
  border-radius: 100%;
  width: 10%;
  margin: 20px;
}

/* press */
#press {
  background-color: #BEADFA;
  text-align: center;
  padding-bottom: 3%;
}
.press-img {
  width: 15%;
  margin: 20px 20px 50px;
}

/* pricing */



.block-7 {
    border-radius: 4px;
    margin-bottom: 30px;
    padding: 0;
    overflow: hidden;
    background: #fff;
    -webkit-box-shadow: 0px 24px 48px -13px rgba(0, 0, 0, 0.05);
    -moz-box-shadow: 0px 24px 48px -13px rgba(0, 0, 0, 0.05);
    box-shadow: 0px 24px 48px -13px rgba(0, 0, 0, 0.05);
    -moz-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    -webkit-transition: all 0.3s ease;
    -ms-transition: all 0.3s ease;
    transition: all 0.3s ease;

    
}
@media (max-width: 991.98px) {
    .block-7 {
        margin-top: 30px;
    }
}
.block-7 .img {
    height: 250px;
}
.block-7 .heading-2 {
    font-size: 14px;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-weight: 600;
}
.block-7 .price {
    margin: 0;
    padding: 0;
    display: block;
}
.block-7 .price sup {
    font-size: 24px;
    top: -1em;
    color: #b3b3b3;
}
.block-7 .price .number {
    font-size: 60px;
    font-weight: 600;
    color: #000000;
}
.block-7 .excerpt {
    margin-bottom: 0px;
    color: #00bd56;
    font-size: 16px;
    font-weight: 600;
    text-transform: uppercase;
}
.block-7 .label2 {
    text-transform: uppercase;
}
.block-7 .pricing-text,
.block-7 .pricing-text li {
    padding: 0;
    margin: 0;
}
.block-7 .pricing-text li {
    list-style: none;
    padding-top: 10px;
    padding-bottom: 10px;
    color: #000000;
}
.block-7 .pricing-text li:nth-child(odd) {
    background: rgba(0, 0, 0, 0.05);
}
.block-7 .pricing-text li span.fa {
    color: #207dff;
}
.block-7 .btn-primary {
    color: #fff;
    text-transform: uppercase;
    font-style: 16px;
    font-weight: 600;
    letter-spacing: 1px;
    width: 60%;
    margin: 0 auto;
}
.block-7 .btn-primary:hover,
.block-7 .btn-primary:focus {
    background: #00bd56 !important;
    color: #fff;
}
.block-7:hover,
.block-7:focus {
    -webkit-box-shadow: 0px 24px 48px -13px rgba(0, 0, 0, 0.11);
    -moz-box-shadow: 0px 24px 48px -13px rgba(0, 0, 0, 0.11);
    box-shadow: 0px 24px 48px -13px rgba(0, 0, 0, 0.11);
}


#pricing {
  padding: 100px;
  text-align: center;
  padding-top: 15px;
  background-color: #98cef7;
background-image: linear-gradient(62deg, #aacdf0 0%, #dbc3f2 100%); 

}
.pricing-column {
  padding: 3% 2%;
}
.card{
  border-radius: 10px;
}

#cta {
  background-color: #4158d0;
  background-image: linear-gradient(
    43deg,
    #4158d0 0%,
    #c850c0 46%,
    #ffcc70 100%
  );
  text-align: center;
  padding: 100px 15% 40px;
}
#footer {
  background-color: #fff;
  text-align: center;
  padding: 40px 30px 40px;
}
.spanSpace {
  padding-left: 25px;
  padding-right: 25px;
}
.social {
  padding-bottom: 5%;
}

@media (max-width: 1028px) {
  #title {
    text-align: center;
  }
  .iphone-img {
    position: static;
    transform: rotate(0);
  }
}
